$color-dark: #181824;
$color-grey: #6c6e86;
$color-primary: #5d78ff;

// Body
$body-bg: #FFFFFF;
$body-color: #000000;

// Links
$link-color: #ffffff;

// Fonts
$font-family: OpenSans, Arial, sans-serif;
$font-size: 16px;
$line-height: 1.5;

// Layout
$col-grid: 12;
$site-padding: 30px;
$min-width: 320px;
$max-width: 100%;

// Transitions
$curves: (default: cubic-bezier(0.4, 0, 0.2, 1), enter: cubic-bezier(0, 0, 0.2, 1), leave: cubic-bezier(0.4, 0, 1, 1), stand: cubic-bezier(0.25, 0.8, 0.25, 1), drop: cubic-bezier(0.55, 0, 0.55, 0.2));
$transition: 0.3s curve(default);
